
nav > ul {
    display: flex;
}
nav li {
    list-style: none;
}
nav li a {
    text-decoration: none;
    margin: 5px;
    padding:  8px;
}
nav li:hover{
    background-color: aqua;
}
nav > ul > li:hover > ul{
    display: block;
}
.dropdown{
    display: none;
    position: absolute;
    background-color: blanchedalmond;
    padding: 0 10px;
}
